h1 {
  color: red;
}

button {
  margin-inline-end: 20px;
}

.float-container {
  display: flex;
  flex-direction: row;
}

.ImageRowDiv
{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}